.ctn_home {
  display: flex;
  padding: 20px 80px 0px 80px;
  justify-content: center;
  align-items: left;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
}

.ctn_head {
  display: flex;
  flex-direction: column;
  height: 40vh;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  background-image: url("/public/pixlr-image-generator-1afab8aa-28b2-4318-b4e7-f52cc7896a71.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ctn_head > h1 {
  font-size: 30px;
  text-align: center;
  height: 100%;
  color: white;
}

.ctn_head_btn {
  display: flex;
  justify-content: flex-start;
}
